@import "tailwindcss";

@theme {
  --color-primary-lime: #c8ff00;
  --color-primary-green: #9de01e;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}